<a href="https://colab.research.google.com/github/jonatancisneros/DataScienceMaster/blob/master/Learning_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive 
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
!ls ./gdrive/My\ Drive/Kschool

In [0]:

import pandas as pd
s =pd.read_csv('./gdrive/My Drive/Kschool/searches_no_dup.csv',sep='^',usecols=['Date','Origin','Destination'])
b =pd.read_csv('./gdrive/My Drive/Kschool/bookings_no_dup.csv',sep='^',usecols=['cre_date           ','dep_port','arr_port'])

b.columns=b.columns.str.strip()


list(b.loc[0])

b['arr_port']=b["arr_port"].str.strip()


b['dep_port']=b["dep_port"].str.strip()

list(b.loc[0])

b.cre_date[0][:10]

b.cre_date=b.cre_date[0][:10]

list(b.loc[0])

list(s.loc[0])

s.sample()

b.sample()

len(s), len(s.dropna())

len(b), len(b.dropna())

b=b.dropna()

s=s.dropna()

s[s.isnull().any(axis=1)]
s[s.isnull().any(axis=1)]

b.head()

     cre_date dep_port arr_port
0  2013-02-22      ZRH      LHR
1  2013-02-22      SAL      CLT
2  2013-02-22      SAL      CLT
3  2013-02-22      AKL      SVO
4  2013-02-22      AKL      SVO